// sass-lint:disable indentation
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?1559137945');
  src: url('../fonts/icons/icons.eot?1559137945#iefix') format('eot'),
    url('../fonts/icons/icons.woff2?1559137945') format('woff2'),
    url('../fonts/icons/icons.woff?1559137945') format('woff'),
    url('../fonts/icons/icons.ttf?1559137945') format('truetype'),
    url('../fonts/icons/icons.svg?1559137945#icons') format('svg');
}

@function icon-char($filename) {
  $char: "";

  @if $filename == bracket--left {
    $char: "\E001";
  }
  @if $filename == bracket--right {
    $char: "\E002";
  }
  @if $filename == close {
    $char: "\E003";
  }
  @if $filename == facebook {
    $char: "\E004";
  }
  @if $filename == hamburger {
    $char: "\E005";
  }
  @if $filename == instagram {
    $char: "\E006";
  }
  @if $filename == play {
    $char: "\E007";
  }
  @if $filename == plus {
    $char: "\E008";
  }
  @if $filename == twitter {
    $char: "\E009";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles(icon-char($filename));
  }
}
// sass-lint:enable indentation