/* Mods */
.kss-section--depth-1 .kss-section__content {
  border: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.kss-section__source {
  display: none;
}

/* Guide */
.kss-body {
  margin: 0;
  padding: 0;
  background: #FFFFFF; }

.kss-title {
  margin: 0;
  color: #222;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal; }

.kss-header {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  color: #222;
  background: #FFFFFF;
  font-weight: 400; }
  @media only screen and (min-width: 64.125em) {
    .kss-header {
      display: none; } }

.kss-header__inner {
  position: relative; }

.kss-header__title {
  font-size: 1rem;
  line-height: 25px;
  text-align: left; }
  @media only screen and (min-width: 35.5625em) {
    .kss-header__title {
      font-size: 1.25rem; } }

.kss-header__hamburger-trigger {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.kss-header__hamburger {
  width: 30px;
  height: 4px;
  margin-top: 13px;
  margin-bottom: 13px;
  border-radius: 5px;
  color: #222;
  background: #222;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.4s; }
  .kss-header__hamburger:before, .kss-header__hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #222;
    transition: all 0.5s; }
  .kss-header__hamburger:before {
    top: -8px;
    border-radius: 5px; }
  .kss-header__hamburger:after {
    top: 8px;
    border-radius: 5px; }
  .kss-header__hamburger.kss-state-active {
    background: transparent; }
  .kss-header__hamburger.kss-state-active:before, .kss-header__hamburger.kss-state-active:after {
    width: 15px;
    transition: all 0.5s; }
  .kss-header__hamburger.kss-state-active:before {
    transform: translate(7px, 4px) rotate(-40deg); }
  .kss-header__hamburger.kss-state-active:after {
    transform: translate(7px, -4px) rotate(40deg); }

.kss-navigation {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  box-shadow: -10px 0 10px 10px rgba(34, 34, 34, 0.5);
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  color: #222222;
  background: #FFFFFF;
  font-weight: 400;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out; }
  @media only screen and (min-width: 48.0625em) {
    .kss-navigation {
      width: 35%; } }
  @media only screen and (min-width: 64.0625em) {
    .kss-navigation {
      width: 25%;
      transform: translateX(0); } }
  @media only screen and (min-width: 80.0625em) {
    .kss-navigation {
      width: 20%; } }
  @media only screen and (min-width: 90.0625em) {
    .kss-navigation {
      width: 15%; } }
  .kss-navigation.kss-state-active {
    transform: none; }

.kss-navigation__title {
  display: none;
  box-sizing: border-box;
  padding: 20px 10px; }
  @media only screen and (min-width: 64.0625em) {
    .kss-navigation__title {
      display: block; } }

.kss-nav {
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 0;
  list-style-type: none; }
  @media only screen and (min-width: 64.0625em) {
    .kss-nav {
      padding-top: 0; } }

.kss-nav__item a {
  display: block;
  box-sizing: border-box;
  padding: 5px 20px;
  color: #222222;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  transition: color 0.3s; }
  .kss-nav__item a:hover {
    color: #222; }
  .kss-nav__item a:hover .kss-nav__name {
    transform: translateX(6px); }
  .kss-nav__item a.kss-state-active {
    color: #222; }
  .kss-nav__item a.kss-state-active:hover .kss-nav__name {
    transform: none; }

.kss-nav__ref {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px; }

.kss-nav__name {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s; }

.kss-nav__subnav {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none; }
  .kss-nav__subnav .kss-nav__item a {
    padding: 2px 10px;
    padding-left: 30px;
    font-size: 0.875rem;
    font-weight: 300; }
  .kss-nav__subnav .kss-nav__item--grandchild a {
    padding-left: 40px;
    font-size: 0.75rem; }

.kss-documentation {
  z-index: 100;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
  background: #FFFFFF;
  transition: opacity 0.4s ease-out; }
  .kss-documentation.kss-state-active {
    opacity: 0.1; }
  @media only screen and (min-width: 64.0625em) {
    .kss-documentation {
      padding-top: 20px;
      padding-left: calc(25% + 20px); } }
  @media only screen and (min-width: 80.0625em) {
    .kss-documentation {
      padding-left: calc(20% + 20px); } }
  @media only screen and (min-width: 90.0625em) {
    .kss-documentation {
      padding-left: calc(15% + 20px); } }

.kss-section {
  margin-bottom: 40px; }

.kss-section__content {
  border: 1px solid #CCCCCC;
  padding: 1em; }
.kss-section__permalink {
  text-decoration: none; }

.kss-section__item {
  margin: 0;
  margin-bottom: 5px;
  color: #222;
  font-size: 2rem;
  text-transform: none;
  letter-spacing: normal; }
  .kss-section__item--depth-2 {
    font-size: 1.875rem; }
  .kss-section__item--depth-3 {
    font-size: 1.375rem; }
  .kss-section__item--depth-4 {
    font-size: 1.25rem; }
  .kss-section__item--depth-5 {
    font-size: 1.125rem; }
  .kss-section__item--depth-6 {
    font-size: 1rem; }

.kss-section__ref {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px; }

.kss-section__name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle; }

.kss-parameters {
  padding-left: 40px;
  list-style-position: outside;
  list-style-type: circle; }

.kss-parameters__item {
  margin-bottom: 15px; }

.kss-parameters__name {
  background: #f5f5f5;
  padding: 5px; }

.kss-parameters__description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5; }

.kss-section__description {
  margin-bottom: 20px; }
  .kss-section__description.state-deprecated, .kss-section__description.state-experimental {
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 5px 10px; }
  .kss-section__description.state-deprecated {
    border: 1px solid orange;
    background: rgba(255, 165, 0, 0.4); }
  .kss-section__description.state-experimental {
    border: 1px solid lightblue;
    background: rgba(173, 216, 230, 0.4); }
.kss-section__source {
  margin: 0;
  color: gray;
  font-size: 0.875rem; }

.kss-section__modifiers {
  border: 1px solid #CCCCCC;
  border-top: none;
  border-bottom: none;
  padding: 1em;
  background: #FDFDFD; }

.kss-modifiers__heading {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #222; }

.kss-modifiers__name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #222; }

.kss-modifiers__description {
  margin: 0; }

.kss-modifiers__example {
  position: relative;
  z-index: 1;
  min-height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  }
  .kss-modifiers__example:after {
    content: '';
    display: table;
    clear: both; }
  .kss-modifiers__example:last-child {
    margin-bottom: 0; }

.kss-section__markup pre[class*=language-] {
  margin: 0; }

.kss-section__markup * {
  font-size: 12px;
}

.kss-colors-container {
  margin: 0;
  padding-left: 0; }
  @media only screen and (min-width: 35.5625em) {
    .kss-colors-container {
      margin-left: -10px; } }

.kss-color {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 127px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 2px; }
  @media only screen and (min-width: 35.5625em) {
    .kss-color {
      display: inline-block;
      width: 225px;
      margin-left: 10px; } }

.kss-color .kss-parameters__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background: #FFFFFF; }

.kss-color__name {
  display: block;
  min-height: 22px;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.6; }

.kss-color__var,
.kss-color__code {
  display: block;
  font-size: 0.75em;
  line-height: 1.4; }

.kss-color .kss-parameters__name {
  display: none; }
