// sass-lint:enable-all
.btn {
  // resets
  display: inline-block;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.btn:focus {

}

.btn:hover,
.btn:focus {

}

.btn:active {

}
