img, iframe, object {
  max-width: 100%;
  height: auto;
}

.video__wrap {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video__wrap iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}
