html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
}

body {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1, %h1 {

}

h2, %h2 {

}

h3, %h3 {

}

h4, %h4 {

}

h5, %h5 {

}

h6, %h6 {

}

p, %p {

}


blockquote {

}

cite {

}

code {

}

dl {

}

dt {

}

dd {

}

b,
strong {

}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup {
  position: relative;
  font-size: 0.8em;
  top: -0.2em;
}

sub {
  position: relative;
  font-size: 0.8em;
  top: 0.2em;
}


a {

}

a:hover,
a:focus {

}

a:focus {

}
