// Colors
//
// <style scoped>
// .colors {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
// }
// .color {
//   margin-bottom: 20px;
//   padding: 20px;
// }
// .color__swatch {
//   display: block;
//   width: 90px;
//   height: 90px;
//   border-radius: 50%;
//   margin: 0 auto 20px;
// }
// .color span {
//   display: block;
//   text-align: center;
// }
// </style>
// <div class="colors">
//   <div class="color">
//     <div class="color__swatch" style="background: #fffff; border: 1px dotted gray;"></div>
//     <span>White <br />(#ffffff)</span>
//   </div>
// </div>
//
// Style guide: Global.Colors
