@import "functions/**/*.scss";
@import "settings/**/*.scss";
@import "utils/**/*.scss";

.wp-block {
  width: calc(100% - 60px);
  max-width: 100%;
  padding: 0;
  margin-left: 0 auto;
}

.wp-block .acf-block-fields {
  max-width: 900px;
  margin: 0 auto;
}

.editor-block-list__layout {
  padding: 0;
}

.editor-styles-wrapper input,
.editor-styles-wrapper textarea {
  border: 1px solid gray;
  border-radius: 0;
}


// typography reset
body.wp-admin .edit-post-layout__metaboxes *,
body.wp-admin .edit-post-sidebar #poststuff h2,
body.wp-admin .edit-post-sidebar #poststuff h2 > span {
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
  color: #191e23;
  letter-spacing: 0;
}

body.wp-admin .edit-post-sidebar .components-panel * {
  font-size: 13px;
  font-weight: 400;
}

body.wp-admin .editor-styles-wrapper textarea {
  border: 1px solid gray;
  -webkit-appearance: inherit;
}

body.wp-admin .editor-styles-wrapper textarea.editor-post-title__input {
  border: 0;
}
