// sass-lint:disable indentation
@font-face {
  font-family: '<%= fontName %>';
  src: url('../fonts/icons/<%= fontName %>.eot<%= cacheBusterQueryString %>');
  src: url('../fonts/icons/<%= fontName %>.eot?<%= cacheBuster %>#iefix') format('eot'),
    url('../fonts/icons/<%= fontName %>.woff2<%= cacheBusterQueryString %>') format('woff2'),
    url('../fonts/icons/<%= fontName %>.woff<%= cacheBusterQueryString %>') format('woff'),
    url('../fonts/icons/<%= fontName %>.ttf<%= cacheBusterQueryString %>') format('truetype'),
    url('../fonts/icons/<%= fontName %>.svg<%= cacheBusterQueryString %>#<%= fontName %>') format('svg');
}

@function <%= cssClass%>-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> {
    $char: "\<%= glyph.codePoint %>";
  }<% }); %>

  @return $char;
}

@mixin <%= cssClass%>($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles(<%= cssClass%>-char($filename));
  }
}
// sass-lint:enable indentation
